<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Systems Engineering's current assignments</title>
</head>
<body>
  <div id="content">{% block content %}{% endblock %}</div>
</body>
</html>
